html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Banner */
.banner {
  display: flex;
  width: 100%;
  padding-top: 80px;
  padding-left: 160px;
  box-sizing: border-box;
  position: relative;
}

.logo-search-wrapper {
  flex-grow: 1;
}

.search-wrapper {
  margin-top: 61px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 644px;
  height: 65px;
  border: 1px solid #e3e1e1;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 50px;
  margin-bottom: 54px;
}

.input-label {
  font-size: 24px;
  font-weight: 400;
  line-height: 72px;
  color: #212121;
}

.input-search {
  background-color: #f2f2f2;
  width: 567px;
  height: 63px;
  border: none;
  border-radius: 50px;
  padding: 15px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.search-icon {
  padding-left: 21px;
  width: 50px;
  height: 50px;
}

.pokemons-img {
  width: 531px;
  height: 267px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Footer */
.footer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 124px;
  background-color: #4f61c8;
  align-items: center;
  justify-content: space-between;
  padding-left: 166px;
  padding-right: 166px;
}

.linkedin-icon {
  margin-right: 42px;
  filter: brightness(0) invert(1);
}

.github-icon {
  filter: brightness(0) invert(1);
}

.developed-by {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

/* Type */
.type-wrapper {
  padding-top: 34px;
  padding-bottom: 39.67px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-title {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #212121;
}

.title-line {
  width: 32px;
  border: 2px solid;
  margin-top: 9.94px;
}

.pokemon-list {
  margin-top: 38.06px;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.pokemon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 10px;
}

.pokemon-button:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.08);
}

.button {
  background-color: #8796eb;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  align-self: center;
}

.button:hover {
  background-color: #a5b1f4;
  color: white;
}

/* Type item */
.pokemon-item {
  width: 262px;
  height: 272px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
}

.background {
  height: 91.9px;
  border-radius: 10px 10px 0 0;
  z-index: -1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -51.5px;
}

.pokemon-img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

.pokemon-name {
  margin-top: 18.18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #4f61c8;
}

.pokemon-number {
  margin-top: 10.01px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
}

.box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 108px;
}

.box-top {
  width: 1121px;
  height: 95px;
  border-radius: 10px 10px 0px 0px;
}

.content {
  display: flex;
  width: 1121px;
  border-radius: 0px 0px 10px 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 31px 71px 82px 72px;
  gap: 64px;
}

.pokemon-info-wrapper {
  width: 486px;
}

.p-info {
  font-size: 24px;
}

/* Pokémon Evolution */

.evolution-wrapper {
  display: flex;
  gap: 21px;
  justify-content: center;
}

.evolution {
  flex-direction: column;
  text-align: center;
  font-size: 16px;
}
